:root {
	--theme-name: "light";
}

:root.light {
	--color-base-bg: rgb(240, 240, 240);
	--color-base-text: rgb(18, 18, 18);
	--svg-fill: #000000;
	--right-container-color: #e2e8f0;
	--header-color: #ffffff;
	--sidebar-color: #000000;
	--theme-name: "light";
}

@media (prefers-color-scheme: dark) {
	:root {
	  --theme-name: "dark";
	}
	
}

@media screen{
	#main-container {
	--sidebar-size: clamp(10px, 30%, 300px);
	}
	#dashboard-img + div {
		--dash-text-width: clamp(0px, 10%, 50px);
		--dash-text-padding: 10px;
	}
}


@media screen and (max-width: 665px){
	#main-container {
	--sidebar-size: clamp(10px, 10%, 300px);
	}
	#dashboard-img + div {
		--dash-text-width: 0%;
		--dash-text-padding: 0;
	}
	#dashboard{
		color:#1992d4;
	}
}

:root.dark {
	--color-base-bg: rgb(18, 18, 18);
	--color-base-text: rgb(240, 240, 240);
	--svg-fill: #ffffff;
	--right-container-color: #232327;
	--header-color: #181818;
	--sidebar-color: #ffffff;
	--theme-name: "dark";
}
  
body {
	background-color: var(--color-base-bg);
	color: var(--color-base-text);
	padding: 10px;
  }
  
  .container {
	display: flex;
	flex-direction: column;
	align-items: center;
  }
  
  p {
	font-size: 1.5rem;
  }
  
  

body {
	padding: 0;
	margin: 0;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

div {
	position: relative;
    z-index: 99;
}

button:hover, input:hover {
	background-color: #005ff7;
	border-color: #005ff7;
}

#header {
	display: grid;
	background-color: var(--header-color);
	grid-template-columns: clamp(10px, 10%, 50px) 100%;
	padding: 10px;
}

#main-container {
	height: 100vh;
	display: grid;
	grid-template-columns: var(--sidebar-size) 100%;
	grid-template-rows: repeat(2, 100%);
}

#sidebar {
	background-color: #1992d4;
	font-size: 1.5em;
	font-weight: bold;
	color: var(--sidebar-color);
}

#right-container {
	background-color: var(--right-container-color);
}

button, input {
	display: flex;
	justify-content: center;
	padding: 10px 10px;
	margin: 0 25px;
	width: 100%;
	max-width: 50px;
	height: 50px;
	color: #e5e7eb;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-weight: bolder;
	font-size: 16px;
	background-color: #3882f6;
	border-style: solid;
	border-color: #3882f6;
	border-radius: 10px;
	margin: 0;
	font-family: arial;
}

#dashboard {
	display: flex;
	flex-direction: row;
	padding: 10px;
}

#dashboard-img {
	width: 50px;
	height: 50px;
}

#dashboard-img + div {
	padding: var(--dash-text-padding);
	height: auto;
	width: var(--dash-text-width);
}

svg > path{
	fill: var(--svg-fill);
}

#theme > div{
	height: 100%;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
}